################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eLearningMareaUnire1918/.vs/eLearningMareaUnire1918/FileContentIndex/4a942f56-5145-434c-a0bb-cdafea322ef9.vsidx
/eLearningMareaUnire1918/.vs/eLearningMareaUnire1918/FileContentIndex/831aaf3e-9a82-4853-acca-8edac4e72e99.vsidx
/eLearningMareaUnire1918/.vs/eLearningMareaUnire1918/FileContentIndex/fa13d202-5ff8-457d-b5e9-49ccd9a39b70.vsidx
/eLearningMareaUnire1918/.vs/eLearningMareaUnire1918/FileContentIndex/ed00c8be-2233-40aa-b783-82d3a4448425.vsidx
